* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*
background: url("http://i62.tinypic.com/2hnw0ag.jpg")
*/

/***********************************
					Fonts
/***********************************/

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?moyid1');
	src:url('../fonts/icomoon.eot?moyid1#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?moyid1') format('truetype'),
		url('../fonts/icomoon.woff?moyid1') format('woff'),
		url('../fonts/icomoon.svg?moyid1#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 1.2em;
	

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-circle-down:before {
	content: "\ea43";
	color: #fafafa;
	font-size: 2em;
	display: inline-block;©
}

.icon-google-plus:before {
	content: "\ea88";
}
.icon-instagram:before {
	content: "\ea90";
}
.icon-twitter:before {
	content: "\ea91";
}
.icon-github5:before {
	content: "\eab5";
}

.icon-github5,
.icon-twitter,
.icon-instagram, .icon-google-plus {
	border: .1em solid #222;
	border-radius: 50%;
	padding: .5em;
}

.arrow-link {
	text-align: center;
	position: relative;
	top: 8em;
}

/***********************************
					General
/***********************************/

html,
body {
	height: 100%;
}

body {
	transition: all 0.3s ease;
}

.container {
	margin: 0 auto;
	padding: 1em;
	max-width: 1000px;
}

a {
	color: #222;
	text-decoration: none;
}

footer p a:hover {
	color: #dedede;
}

img {
	width: 100%;
}

h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 900;
}

p {
	padding: 0.5em 0;
	font-family: 'Merriweather', serif;
	font-size: 1em;
	font-weight: 300;
	line-height: 1.6;
}

.shadow {
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

header {
	background: linear-gradient(
      				rgba(0, 0, 0, 0.45), 
      				rgba(0, 0, 0, 0.1)
      				),
							url("../img/bg-img.jpeg") no-repeat center;
	background-size: cover;
	height: 100%;
	border-top: 1em solid #222;
}

.masthead-intro,
.masthead-heading {
	text-align: center;
	font-weight: bold;
	color: #fafafa;
}

.masthead {
	padding: 6em 0;
}

h1.masthead-heading {
	margin:  .1em 0;
}

h1.masthead-heading,
.masthead-intro {
	letter-spacing: .1em;
}

.about-me {
	padding: 2em 0;
}

.profile-pic {
	max-width: 10em;
	display: block;
	margin: 0 auto;
	border-radius: 50%;
	border: .7em solid #000;
}

.about-me .container {
	max-width: 37.5em;
}

.about-me h1 {
	text-align: center;
}

footer {
	text-align: center;
	padding: 2em 0;
	border-top: 1px solid #222;
}

footer p {
	font-family: 'Lato', sans-serif;
	font-size: .8em;
}

ul.social-icons {
	padding: 1em 0;
	margin-bottom: 1em;
}

.social-icons li {
	list-style-type: none;
	display: inline-block;
	margin: 0 .4em;
	-moz-transition-duration: .2s;
	-moz-transition-delay: .1s ease-in-out;
}

.social-icons li:hover {
	 -moz-transform: translateY(-25%);
}

@media (min-width: 700px) { 

	.masthead {
		padding: 20% 0;
	}	

	.arrow-link {
		top: 12em;
	}

}



















